
<div>
    <employee-entry-directive action-type="addEmployees()" my-initial-employee="InitialEmployeeInParentScope" action-name="Add Employees" my-enable-disable="CheckEnableDisable()"></employee-entry-directive>
    <h4 employee-status-directive></h4>
    Filter string: <input type="text" ng-model="search.name" /> Case sensitive search? : <input type="checkbox" ng-model="isCaseSensitiveSearch" />
    <ul>
        <li ng-repeat="e in EmployeeArray |  employeeSearchFilter:search.name:isCaseSensitiveSearch | orderBy:'-id'">
            <first-directive></first-directive>
        </li>
    </ul>    
</div>
<ng-include src="'Templates/employee_activities.html'"></ng-include>
<!--<a ui-sref=".activities">Activities</a>
<div ui-view></div>-->