
<div>
    <h3>Employee Name = '{{copiedEmployee.name}}'</h3>
    <h3>Role = '{{copiedEmployee.role}}'</h3>
    <h3>Working on '{{copiedEmployee.projectDetails.project}}' project, at '{{copiedEmployee.projectDetails.projectLocation}}'</h3>
    <employee-entry-directive action-type="updateEmployees(currentEmployee)" my-initial-employee="currentEmployee" action-name="Update Employees" my-enable-disable="DisableUpdation()"></employee-entry-directive>
</div>

<ng-include src="'Templates/employee_activities.html'"></ng-include>
