<!DOCTYPE html>

<html ng-app="EmployeeDB" >
<head>
    <title> Employee Registration Form </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
</head>
<body>
    <table>
        <tr>
            <td>
                <div ng-controller="EmployeesEntryCtrl">                    
                    <employee-entry-directive action-type="addEmployees()" my-initial-employee="InitialEmployeeInParentScope" action-name="Add Employees" my-enable-disable="CheckEnableDisable()"></employee-entry-directive>
                    <h4 employee-status-directive="EmployeeAddedOrUpdated"></h4>
                    <ul>
                        <li ng-repeat="e in EmployeeArray">
                            <first-directive></first-directive>
                        </li>
                    </ul>
                </div>
                <div ng-controller="EmployeeProfileCtrl">
                    <h3>Employee Name = '{{currentEmployee.name}}'</h3>
                    <h3>Role = '{{currentEmployee.role}}'</h3>
                    <h3>Working on '{{currentEmployee.projectDetails.project}}' project, at '{{currentEmployee.projectDetails.projectLocation}}'</h3>
                    <employee-entry-directive action-type="updateEmployees(currentEmployee, currentEmployee.index)" my-initial-employee="currentEmployee" action-name="Update Employees" my-enable-disable="DisableUpdation()"></employee-entry-directive>
                </div>

                <div>
                    History:
                    <div ng-repeat="historyItem in rootHistoryItems">
                        <h2> {{historyItem.name}} </h2>
                    </div>
                </div>
            </td>
            <td valign="top">
                <h3> <span> User Name: {{applicationUserName}} , User Id: {{applicationUserId}}</span> </h3>
                <!--<div ng-controller="EmployeesEntryCtrl">
                   <h3 employee-status-directive="EmployeeAddedOrUpdated"></h3>
                </div>-->
            </td>
        </tr>
    </table>

    <link href="mycss.css" rel="stylesheet" />
    <script src="app\app.module.js"></script>
    <script src="Controllers\employeesController.js"></script>
    <script src="Factories\employeeFactory.js"></script>
    <script src="Directives\employeeEntryDirective.js"></script>
    <script src="Directives\employeeDirective.js"></script>
    <script src="Directives\employeeStatusDirective.js"></script>
    <script src="Controllers\profileController.js"></script>

</body>
</html>
