<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime executionTimeout="999999" targetFramework="4.5" />
    <customErrors mode="Off" />
    <trace enabled="true" writeToDiagnosticsTrace="true" mostRecent="true" pageOutput="false" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="GET,POST,DELETE,HEAD,PUT,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,Accept" />
        <add name="Access-Control-Expose-Headers" value="X-Olaround-Debug-Mode, X-Olaround-Request-Start-Timestamp, X-Olaround-Request-End-Timestamp, X-Olaround-Request-Time, X-Olaround-Request-Method, X-Olaround-Request-Result, X-Olaround-Request-Endpoint" />
        <add name="Cache-Control" value="no-cache" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>

  <appSettings>

    <!--Gropu3 Dev local host Env-385-->
    <add key="ClientId" value="2040c877-df20-4451-af1c-daf833318525" />
    <add key="ClientSecret" value="WS6RXqOwz+vIV/LID+ddH95Ge+peW2vn1hA9M9dhEhU=" />

    <!--Gropu3 Dev client id New environment Env-3 
    <add key="ClientId" value="e79e6ae7-6dbd-4c8c-945d-f3062e18c196" />
    <add key="ClientSecret" value="m3uIjdf1IgXBxGcHPbcwqxl3DbyscrA8TJ0gvGFmB10=" />-->
    <!--Gropu3 Dev client id New environment Env-385-->
    <!--<add key="ClientId" value="991fdc25-a1f4-46be-8be2-bb71f9ae958f" />
    <add key="ClientSecret" value="gAxsU4dCGQ178pMplDGcUXLgF1Br6M7VkuMJ3rHcaTE=" />-->

    <!--pht QA client id New environment photoninteractive3 -->
    <!--<add key="ClientId" value="8887661e-1e7c-4a76-b734-31029030b46c" />
    <add key="ClientSecret" value="yFw/RLyoATZZqf37sawnGMPgZTHiHxj8xCkHyC0Q5Ms=" />-->

    <!--Photon QA 
    <add key="ClientId" value="88fee0df-5172-478f-9a6d-2c62daac3a9e" />
    <add key="ClientSecret" value="ZJtkaEBfM1wvQ4hd3jwuoMO29C8FzOdVeOSpQGhQzJk=" />-->

    <!--pht Dev client id-
    <add key="ClientId" value="40ad5d32-743c-4265-874e-96cdffc823a4" />
    <add key="ClientSecret" value="RY8WXl/u9EccLsuh4KQU+7S7310IoLMRS6JApjzLJPo=" />-->

    <!-- pht MyElcConfigTest client id -->
    <!--<add key="ClientId" value="0bfbc692-23c3-4bde-960e-43b68d419979" />
    <add key="ClientSecret" value="i5Q3GrJbI/Zsjxm023S4xoUx6mY67UqtxKGsS2nMDno=" />-->

    <!--Client environment client id 
    <add key="ClientId" value="93f86b1c-36f6-4987-985a-69dc218057b9" />
    <add key="ClientSecret" value="WcczewsTZ2wJFS0932KkF3oaMYcrDYVAsDcoQKmvddE=" />-->

    <add key="RootFolder" value="ELCApplicationFiles" />
    <add key="MasterPages" value="MasterPage" />
    <add key="CSS" value="CSS" />
    <add key="JS" value="JS" />
    <add key="PageLayouts" value="PageLayout" />
    <add key="DisplayTemplates" value="DisplayTemplate" />
    <add key="ControlTemplates" value="ControlTemplate" />
    <add key="ItemTemplates" value="ItemTemplate" />
    <add key="MasterPageGallery" value="Master Page Gallery" />
    <add key="MyelcConfig" value="https://photoninteractive385.sharepoint.com/sites/DevMyELC-Configuration1" />
    <add key="CorporateHomeUrl" value="https://photoninteractive385.sharepoint.com/sites/DevMyELC-Corporation" />
    <add key="ExchangeApiUrl" value="http://xurrency.com/api/{0}/{1}/{2}?key=781f5016e868f88bf7fefa1bf2b1eae0" />
    <add key="CDNJavaScriptFolderUrl" value="http://az774751.vo.msecnd.net/Catalogs/MasterPage/JS" />
    <add key="CDNCSSFolderUrl" value="http://az774751.vo.msecnd.net/Catalogs/MasterPage/Css" />
    <add key="TermSetGroup" value="MyElc Dev New" />
    <add key="MyELC_Exchange_Service" value="{0}/Services/CustomCommonService.svc/GetExchangeCurrencyData" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Estee.MyELC.Infrastructure.AppWeb.Services.CustomCommonService" behaviorConfiguration="ServiceBehavior">
        <endpoint name="webHttpBinding" binding="webHttpBinding" contract="Estee.MyELC.Infrastructure.AppWeb.Services.ICustomCommonService" behaviorConfiguration="webHttp" bindingConfiguration="webHttpBinding" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBinding">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
  <system.diagnostics>
    <trace>
      <listeners>
        <add name="WebPageTraceListener" type="System.Web.WebPageTraceListener, &#xD;&#xA;            System.Web, &#xD;&#xA;            Version=4.0.0.0, &#xD;&#xA;            Culture=neutral,&#xD;&#xA;            PublicKeyToken=b03f5f7f11d50a3a" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>